<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/cover.css">
       
        <title>dashboard page</title>
        <style>
            body {
                background-image: url("/static/img/electonicpage.jpg");
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;*/
            }

            div.inner.cover img {
                width: 150px;
            }
        </style>
    </head>
    <body>


    <div class="site-wrapper">

        <h1>Dashboard</h1>
      <div class="site-wrapper-inner">

        <div class="container">
        
          <div class="mastfoot">
            <div class="inner">
                <p>Copyright stima app.com 2019. All rights reserved.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


<!--
        <h1>Melons when you want them.</h1>
        <h2><a href="/melons">Shop now.</a></h2>
-->
    </body>
</html>
