<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/cover.css">
       
        <title>main page</title>
        <style>
            body {
                background-image: url("/static/img/electonicpage.jpg");
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;*/
            }

            div.inner.cover img {
                width: 150px;
            }
        </style>
    </head>
    <body>


    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
          <div class="inner cover">
              <img src="/static/img/ubermelonsmall.png">
              <h1 class="cover-heading">Stima</h1>
            <p class="lead">Stima app
            <p class="lead">
            <a href="{{url_for('main.show_login')}}" class="btn btn-lg btn-default">Login Now</a>
            <a href="{{url_for('auth.signup_post')}}" class="btn btn-lg btn-default">Sign Up Now</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
                <p>Copyright stma app.com 2019. All rights reserved.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


<!--
        <h1>Melons when you want them.</h1>
        <h2><a href="/melons">Shop now.</a></h2>
-->
    </body>
</html>
