
<html>
    <head>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
            <link rel="stylesheet" href="/static/css/cover.css">
           
        <title>login page</title>

            <style>
                    body {
                        background-image: url("/static/img/electonicpage.jpg");
                        background-size: cover;
                        -webkit-background-size: cover;
                        -moz-background-size: cover;*/
                    }
        
                    div.inner.cover img {
                        width: 150px;
                    }
                </style>
    </head>

<body>
        <div class="container">
                <form class="form-signin" action="/auth" method="POST">
                        <div class="row">
                                <h2 class="form-signin-heading">Please Sign In</h2>
                                <input type="email" name="email" class="form-control" placeholder="Email Address" required autofocus />
                                </br>
                                </br>
                                <input type="password" name="password" class="form-control" placeholder="Password" required />
                            </br>
                            </br>
                                <button type="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
                        </div>
                        <div>

                        </div>
                </form>
        </div>

</body>

   

</html>


